:root{
    --green:rgb(43, 40, 40);
}

*{
    margin:0; 
    padding: 10px;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s cubic-bezier(.38,1.15,.7,1.12);
    font-weight: normal;
    font-family: cursive;
}
body{
    background-color:rgb(43, 40, 40);
}

*::selection{
    background:var(--green);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
   background:#eee;
}

html::-webkit-scrollbar-thumb{
    background:var(--green);
}

section{
    min-height: 100vh;
    padding:0 7%;
    padding-top: 9rem;
}

.btn{
    padding:.7rem 2rem;
    font-size: 1.7rem;
    background:#666;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.btn:hover{
    background:#444;
}

.heading{
    text-align: center;
    padding: 10px;;
    color: rgb(231, 197, 133) ;
    font-size: 3.5rem;
}

header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding:25px ;
    background: rgb(43, 40, 40);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: fixed;
    top:0; left:0;
    z-index: 1000;
}

header .navbar a{
    font-size: 25px;
    color:rgb(170, 170, 170);
    margin-left: 50px;
}

header .navbar a:hover{
    color: whitesmoke;
}

#menu{
    font-size: 3rem;
    color:#666;
    cursor: pointer;
    padding:.5rem 1rem;
    border:.2rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:url(background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    padding-left: 300px;
    width: 950px;;
}

.home .content h3{
    font-size: 4.5rem;
    color:rgb(54, 52, 52);
}

.home .content p{
    font-size: 2rem;
    color: rgb(65, 35, 87);
    padding:1rem 0;
}

.product .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product .box-container .box{
    border:.1rem solid rgba(0,0,0,.1);
    margin:2rem;
    padding:1rem;
    border-radius: .5rem;
    background:#fff;
    width: 30rem;
    text-align: center;
}

.product .box-container .box img{
    height:200px;
    width:200px;
    object-fit: cover;
}

.product .box-container .box h3{
    font-size: 20px;
    color:var(--green);
    margin-bottom: 15px;
}

.product .box-container .box .icons{
    padding: 2px;
    margin-bottom: 10px;
}

.product .box-container .box .icons a{
    font-size: 12px;
    color:#666;
    height:10px;
    width:20px;
    line-height: 10px;
    border:.2px solid rgba(0,0,0,.1);
    border-radius: 5px;
    margin:5px;
}

.product .box-container .box .icons a:hover{
    background:#eee;
}

.contact{
    padding-bottom: 3rem;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    border-radius: 2rem;
    border:.1rem solid rgba(0,0,0,.1);
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.contact .row .image{
    flex:1  1 40rem;
}

.contact .row .image img{
    height:100%;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1  1 40rem;
    padding:2rem 4rem;
}

.contact .row form .inputBox{
    padding:1rem 0;
}

.contact .row form .inputBox h3{
    color: rgb(231, 197, 133);
    padding:.5rem 0;
    font-size: 2rem;
}

.contact .row form .inputBox input, .contact .row form .inputBox textarea{
    width: 100%;
    padding:1.5rem;
    font-size: 1.5rem;
    border:.1rem solid rgba(0,0,0,.1);
}

.contact .row form .inputBox textarea{
    resize: none;
    height: 15rem;
}

.footer{
    min-height: auto;
    padding-top: 2rem;
    background:linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7)), url(../images/footer-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    margin: 20px;
    flex:1 1 25rem;
}

.footer .box-container .box img{
    height:40px;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color:#999;
    padding: 1rem 0;
}

.footer .box-container .box p i{
    padding-right: 1rem;
    color: rgb(77, 74, 74);
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:rgb(77, 74, 74);
    padding:1rem 0;
}

.footer .box-container .box a{
    height:5rem;
    width:5rem;
    line-height: 4.8rem;
    text-align: center;
    font-size: 2rem;
    color:#aaa;
    padding: 2px;
    margin-right: 1rem;
}

.footer .box-container .box a:hover{
    background:#999;
    color:#fff;
    border:.1rem solid #aaa;
    border-radius: 50px;
}

#scroll-top{
    position: fixed;
    margin: auto;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    height:6rem;
    width:6rem;
    line-height: 3rem;
    font-size: 4rem;
    text-align: center;
    color:var(--green);
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    background:#f9f9f9;
}

/* media queries  */
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .home .content{
        padding:0;
    }
    #scroll-top{
        bottom:3rem;
    }
}
@media (max-width:788px){
    #menu{
        display: block;
    }
    header{
        padding:2rem 3%;
    }
    header .navbar{
        position: absolute;
        top:100%;
        left:0;
        width:100%;
        background:#f9f9f9;
        text-align: center;
        padding:2rem 0;
        border-top: .1rem solid rgba(0,0,0,.1);
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }
    header .navbar.nav-toggle{
        transform: scaleY(1);
        opacity: 1;
    }
    header .navbar a{
        display: block;
        padding:1rem 0;
        margin:1rem 0;
        font-size: 2.5rem;
    }
    section{
        padding:0 3%;
        padding-top: 9rem;
    }
    .home{
        background:url(bg.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }
    .home .content{
        width: auto;
    }
}
@media (max-width:400px){
    html{
        font-size: 50%;
    }
}